.banner {
  background-image: url(background.webp);
  background-size: cover;
  color: white;
  background-position-x: center;
  height: calc(100vh - 130px);
  padding-left: 10em;
    
}
 button :hover{
  background-color: #b0bacd !important;
  padding: 10px !important;
 }